<!DOCTYPE html>
<html>
<head>
    <title>Add Job</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="admin-body">

<div class="form-container">

    <h1>Add New Job</h1>

    <form method="POST">

        <input type="text" name="title" placeholder="Job Title" required>

        <textarea name="description" placeholder="Job Description" required></textarea>

        <button type="submit" class="btn">➕ Add Job</button>

    </form>

    <a href="/admin" class="back">← Back to Admin Panel</a>

</div>

</body>
</html>
